@page "/AccessDenied"
@model SharingMezzi.Web.Pages.AccessDeniedModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Accesso Negato";
}

<div class="container py-5">
    <div class="text-center">
        <h3>Accesso Negato</h3>
        <p>Non hai i permessi necessari per accedere a questa risorsa.</p>
        <a href="/" class="btn btn-primary">Torna alla home</a>
    </div>
</div>
